
.div-list{
  border: solid 1px #000;
  padding: 15px;
  margin
}
.div-list h3{
  padding-left: 10px;

  font-size: 20px;
  font-weight: bolder;
}

.div-list p{

  position: relative;}

.text-list{
  font-weight: bolder;
}

.button-list{
  float: inherit;
}

@media (min-width:700px){
  .button-list{
    float: right;
    margin-top: -6%;
  }
}
@media (max-width:700px){
  .button-list{
  float: right;
  margin-top: -11%;

  }
}

@media (min-width:770px){
  #select-mobile{
    margin-left: 6%;
  }
  #input-mobile{
    margin-left: 6%;
  }

  #send-mobile{
    margin-left: 30%;
  }

}

#buscar{
  background-color: #eee;
}

.mymodal{
  margin-top: 5%;
}
@media (min-width:768px){
  #busca{
    visibility:visible;

  }

  #busca-mobile{
    display:none;
  }
}

@media (max-width:767px){
  #busca{
    display:none;
  }

  #busca-mobile{
    visibility:visible;
  }
}
