
 body{

   position:relative;
   width:100%;
   height:100%;
   margin: auto;
   }

html{
  width:100%;
  height:100%
  }

  .myform{
    text-align: center;
    font-weight: bolder;
  }

  .rodape{
    position: relative;
    width: 100%;
    bottom: 0;
  }


    a{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out;color:#42dca3}

    a:focus,a:hover{text-decoration:none;color:#1d9b6c}

    #mainNav{font-family:Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;margin-bottom:0;text-transform:uppercase;border-bottom:1px solid rgba(255,255,255,.3);background-color:#000}

    #mainNav .navbar-toggler{font-size:14px;padding:11px;color:#fff;border:1px solid #fff}

    #mainNav .navbar-brand{font-weight:700}#mainNav a{color:#fff}

    #mainNav .navbar-nav .nav-item{-webkit-transition:background .3s ease-in-out;-moz-transition:background .3s ease-in-out;transition:background .3s ease-in-out}

    #mainNav .navbar-nav .nav-item:hover{color:fade(white,80%);outline:0;background-color:transparent}

    #mainNav .navbar-nav .nav-item:active,#mainNav .navbar-nav .nav-item:focus{outline:0;background-color:transparent}

    @media (min-width:992px){
      #mainNav{padding-top:20px;padding-bottom:20px;-webkit-transition:background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;-moz-transition:background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;transition:background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;letter-spacing:1px;border-bottom:none;}
      #mainNav.navbar-shrink{padding-top:10px;padding-bottom:10px;border-bottom:1px solid rgba(255,255,255,.3);background:#000}

      #mainNav .nav-link.active{outline:0;background-color:rgba(255,255,255,.3)}

      #mainNav .nav-link.active:hover{color:#fff}
    }

      .masthead{
        display:table;
        width:100%;
        height:auto;
        padding:200px 0;
        text-align:center;
        color:#fff;
        background:url(../img/home.jpg) no-repeat bottom center ;
        background-color:#000;
        -webkit-background-size:cover;
        -moz-background-size:cover;-o-background-size:cover;
        background-size:cover}

        .masthead .intro-body{
          display:table-cell;
          vertical-align:middle
          }
          .masthead .intro-body .brand-heading{
            font-size:10px
            }

        .masthead .intro-body .intro-text{font-size:18px}

        @media (min-width:768px)and(max-width:790px){.masthead{height:70%;padding:0}


  .inputlogin{
    margin-top: 50%;
  }


        .masthead .intro-body .brand-heading{font-size:80px}.masthead .intro-body .intro-text{font-size:22px}}.btn-circle{font-size:26px;width:55px;height:55px;margin-top:15px;line-height:38px;-webkit-transition:background .3s ease-in-out;-moz-transition:background .3s ease-in-out;transition:background .3s ease-in-out;color:#fff;border:2px solid #fff;border-radius:100%!important;background:0 0}.btn-circle:focus,.btn-circle:hover{color:#fff;outline:0;background:rgba(255,255,255,.1)}.content-section{padding-top:150px;padding-bottom:150px}.download-section{color:#fff;background:url(../img/downloads-bg.jpg) no-repeat center center scroll;background-color:#000;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}#map{width:100%;height:300px}@media (min-width:992px){.content-section{padding-top:100px;padding-bottom:200px}}.btn{font-family:Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;text-transform:uppercase;border-radius:0}.btn-default{color:#42dca3;border:1px solid #42dca3;background-color:transparent}.btn-default:focus,.btn-default:hover{color:#000;border:1px solid #42dca3;outline:0;background-color:#42dca3}ul.banner-social-buttons{margin-top:0}@media (max-width:1199px){ul.banner-social-buttons{margin-top:15px}}@media (max-width:767px){ul.banner-social-buttons li{display:block;margin-bottom:20px;padding:0}ul.banner-social-buttons li:last-child{margin-bottom:0}}footer{padding:35px 0}footer p{font-size:14px;margin:0}::-moz-selection{background:#0066ff;text-shadow:none}::selection{background:#0066ff;text-shadow:none}img::selection{background:0 0}img::-moz-selection{background:0 0}body{-webkit-tap-highlight-color:rgba(255,255,255,.2)}
